.DS_Store
dist
.idea
.vscode
cover.out
*.swp
*.o
*.d
.ycm_extra_conf.py
.env
*.rdb

# There's no point storing this
# Generated each time
relay.env

# next tool output
cost.bin
optimize.bin

stats.txt