[Unit]
Description=Network Next App Server

[Service]
ExecStart=/app/app -race
EnvironmentFile=/app/app.env
Restart=always
RestartSec=30
TimeoutStopSec=90
